/* Full-width inputs */
input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: grid;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  //   margin: 0 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  //   width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}
